* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
canvas {
  // width: 400px !important;
  // height: 400px !important;
}
.wrapper {
  padding: 25px;
}
.input {
  width: 450px;
  &-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    label {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      min-height: 150px;
      border: 2px solid #333;
      resize: vertical;
      border-radius: 5px;
      padding: 10px;
    }
  }
  .file-group {
    margin-top: 25px;
    margin-bottom: 30px;
    label {
      padding: 10px 30px;
      background: #333;
      border-radius: 5px;
      border: 0;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
    input {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  p {
    margin: 15px 0;
  }
  button {
    padding: 10px 30px;
    background: #107c41;
    border-radius: 5px;
    border: 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
}
.list {
  list-style: none;
  padding-left: 25px;
  li {
    margin-top: 30px;
    font-size: 18px;
  }
}
